:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

footer{
    min-height: 100%;  
    clear: both; 
}

.nav {
    min-height: 70vh;
    width: 220px;
    background-color: var(--background-color2);
    position: absolute;
    top: 80px;
    left: 00;
    box-shadow: 1px 1px 5px whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;
}

.navcontainer {
    height: calc(100vh - 70px);
    width: 202px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

.navcontainer::-webkit-scrollbar {
    display: none;
}

.nav-option {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 60px;
    gap: 20px;
    transition: all 0.1s ease-in-out;
}

.nav-option:hover {
    border-left: 5px solid #a2a2a2;
    background-color: #dadada;
    cursor: pointer;
}

.nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.option1 {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
    color: white;
    cursor: pointer;
}

.option1:hover {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
}

body {
    background-color: var(--background-color4);
    max-width: 100%;
    overflow-x: hidden;
}
header {
    height: 70px;
    background-color: var(--background-color1);
    z-index: 100;
    box-shadow: 1px 1px 2px whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.adminInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.report-container {
    min-height: 300px;
    max-width: 1200px;
    margin: 70px auto 0px auto;
    background-color: grey;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 20px 20px;
}

.report-header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.recent-Articles {
    font-size: 30px;
    font-weight: 600;
    color: #5500cb;
}

.report-body {
    max-width: 1160px;
    overflow-x: auto;
    padding: 20px;
}

.report-topic-heading,
.item1 {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t-op {
    font-size: 18px;
    letter-spacing: 0px;
}

.items {
    width: 1120px;
    margin-top: 15px;
}

.item1 {
    margin-top: 20px;
}

.t-op-nextlvl {
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
    
}

.label-tag {
    width: 100px;
    background-color: rgb(0, 177, 0);
    color: white;
    border-radius: 4px;
}

.m5{
  width: 7%;
}

button{
    height: 35px;
    width: 50px;
    border-radius: 8px;
    background-color: #494949;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

table, th, td {
  width: 15%;
  border-collapse: collapse;
  text-align: center;
}

.centered{
  margin: 0 auto 0 auto;
}