.NavBar{
  list-style-type: none;
  margin: 0; 
  padding: 0;
  overflow: hidden;
}

.FixedTop{
  display: flex;
  position: sticky;
  top:0;
  justify-content: space-between;
}

.NavBar li{
  display: inline-block;
}

.NavBar li a{
  color: #40826d;
  text-decoration: none;
  padding: 10px 10px;
}

.NavBar li a:hover{
  background-color:lightgray;
}

.YatsButton{
  text-align: center;
  margin: 10px;
}

.Logo{
  float: left;
  margin: 10px 10px;
}
